<div *ngIf="isProcessing">
    <p>{{ processingMessage }}</p>
  </div>

<div *ngIf="saleOrder">
    <div class="order-status-container">
      <h2>Order Status</h2>
      <p>Invoice Number: {{ saleOrder.invoiceNumber }}</p>
      <p>Order Status: {{ orderStatusDisplay }}</p>
      <p>Total Price: {{ saleOrder.netTotal | currency }}</p>
      <!-- Add more fields as needed -->

      <div class="order-status-container">
        <p>Your order has been successfully placed!</p>
        <p>An invoice has been emailed to your email address.</p>
        <div class="order-details">
        <p *ngIf="orderStatusDisplay === 'Shipped' || orderStatusDisplay === 'Delivered' || orderStatusDisplay === 'Completed'">
          Your order has been {{ orderStatusDisplay.toLowerCase() }}. Thank you for shopping with us!
        </p>
      </div>
  
      <!-- Show a message based on order status -->
      <p *ngIf="saleOrder.status === 'Shipped' || saleOrder.status === 'Delivered' || saleOrder.status === 'Completed'">
        Your order has been {{ saleOrder.status.toLowerCase() }}. Thank you for shopping with us!
      </p>
    </div>
  </div>
  

  
  <div *ngIf="errorMessage">
    <p class="error">{{ errorMessage }}</p>
  </div>
  