/* General Page Styling */
body {
  background-color: #03071e;
  color: #131010;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h2, h3, h4, p {
  color: white;
}

h4 {
  color: black;
}

/* Order Status Styling */
.order-status-container {
  background-color: black;
  border: 1px solid #6a040f;
  border-radius: 8px;
  padding: 20px;
  margin: 0; /* Removed vertical margin */
  text-align: left;
  border-collapse: collapse;

}

.order-status-container h2 {
  margin: 0;
}

.order-status-container p {
  margin: 5px 0;
}

/* Order Details Styling */
.order-details {
  background-color: black;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #6a040f;
  margin: 0; /* Removed vertical margin */
}

/* Product Table Styling */
.product-table {
  width: 100%;
  border-collapse: collapse;
  color: #f5f5f5;
}

.product-table th, .product-table td {
  border: 1px solid #6a040f;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: black;
  color: #f48c06;
}

.product-table td {
  background-color: black;
}

/* Buttons */
button {
  background-color: #dc2f02;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #6a040f;
}

/* Error Styling */
.error {
  color: #f00;
  text-align: center;
}

/* Total Price Container */
.total-price-container {
  background-color: black;
  color: yellow;
  padding: 12px;
  border-radius: 8px;
  text-align: left;
  margin: 0; /* Removed vertical margin */
}

.total-price-container h4 {
  margin: 0;
  color: #f48c06;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .order-status-container {
    padding: 16px;
  }

  .order-details {
    padding: 12px;
  }

  .product-table th, .product-table td {
    padding: 6px;
  }
}

.download-invoice-container {
  margin-top: 15px;
}

.download-invoice-container button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-invoice-container button:hover {
  background-color: #0056b3;
}
