<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div  class="container-fluid">
    <!-- Brand/Home Button -->
    <a *ngIf="isLoggedIn && !isUserRoleadmin" class="navbar-brand" routerLink="/products">
      🛍️ My Shopping App</a>

    <!-- Toggle button for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Cart button -->
       <!-- Cart button -->
        <li class="nav-item">
          <a *ngIf="isLoggedIn && !isUserRoleadmin" class="nav-link" routerLink="/cart">
            🛒 Cart
          </a>
        </li>

        <li class="nav-item">
          <a *ngIf="isLoggedIn && !isUserRoleadmin" class="nav-link" routerLink="/myorders">
            📦 My Orders
          </a>
        </li>

        <!-- Categories dropdown -->
        <li *ngIf="isLoggedIn && !isUserRoleadmin" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let category of categories">
              <a class="dropdown-item" [routerLink]="['products/category/', category.id]" >{{ category.name }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Login/Logout button -->
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <button class="btn btn-link nav-link" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
